<div class="filter">
  <form [formGroup]="filterForm">
    <!-- Resources -->
    <div class="form-field">
      <mat-form-field>
        <mat-label>Ресурсы</mat-label>
        <mat-select formControlName="resourceIds" multiple>
          <mat-option value="-1" selectAll [allValues]="resources"
            >Выбрать все</mat-option
          >
          <hr />
          @for (res of resources; track res.id) {
          <mat-option [value]="res.id">{{ res.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Measure units -->
    <div class="form-field">
      <mat-form-field>
        <mat-label>Единица измерения</mat-label>
        <mat-select #unit_select formControlName="measureUnitIds" multiple>
          <mat-option value="-1" selectAll [allValues]="measureUnits"
            >Выбрать все</mat-option
          >
          <hr />
          @for (unit of filterState?.measureUnits; track unit.id) {
          <mat-option [value]="unit.id">{{ unit.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button type="submit" matButton="elevated" (click)="onApplyFilter()">
        Применить
      </button>
      <button matButton="tonal" (click)="clearFilter()">Очистить</button>
    </div>
  </form>
</div>
