@if (!paginationModel) {
<!--todo: add spinner here-->
<p>Spinner works now!</p>
} @else { @if (loadingError) {
<h3>Error loading data!</h3>
} @else {

<div class="buttons-container">
  <button matButton="elevated" (click)="addData()" class="demo-button">
    Add data
  </button>
  <mat-paginator
    [pageIndex]="paginationModel.pageNumber - 1"
    [pageSize]="paginationModel.pageSize"
    [length]="paginationModel.totalCount"
    (page)="handlePageEvent($event)"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Select page of resources"
  ></mat-paginator>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Наименование</th>
      <td mat-cell *matCellDef="let resource">{{ resource.name }}</td>
    </ng-container>

    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let resource">
        <button matButton (click)="editResource(resource)">
          Редактировать
        </button>
        <button matButton (click)="toUnarchived(resource)">Из архива</button>
        <button matButton (click)="removeResource(resource)">Удалить</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
} }
